<article class="listing">
<img src="{{music.image}}" alt="">
	<h3>{{music.name}}</h3>
	<div class="detail type">
		<span>Tipo:</span> {{music.type}}
	</div>
	<div class="detail city">
		<span>Ciudad:</span> {{music.city}}
	</div>
</article>


{{yield}}
